.Pokecard{
    width: 300px;
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
    border: 3px solid gray;
    border-radius: 20px;
    margin: 20px;
    padding: 1em;
    transition: all .5s ease-in;
}

.Pokecard-title {
    color: blue;
    font-weight: bold;
    font-size: 2.5rem;
}

.Pokecard-img{
    width: 150px;
}
  
.Pokecard-type {
    font-size: 1.5rem;
}

.Pokecard:hover{
    background-color: rgb(187, 238, 135);
}